.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
}

.header img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.header h2 {
  font-size: 2rem;
  color: var(--white-color);
}

.tutorial {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-top: 2rem;
}
.tutorial__title h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}

.tutorial__description p {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-top: 2rem;
}

.game {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.game__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.game__btns__header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.game__btns__header button {
  font-size: 3rem;
  padding: 1rem;
  color: var(--primary-color);
  background: var(--secondary-color);
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

.game__btns__header h3 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.game__modes {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.game__modes button {
  font-size: 3rem;
  padding: 1rem;
  color: var(--primary-color);
  background: var(--secondary-color);
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.game__modes h3 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.game__board {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background: var(--black-color);
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box__color {
  height: 43%;
  width: 43%;
  margin: 1rem;
}

.green {
  background-color: var(--green-off-color);
  border-top-left-radius: 100%;
  border-bottom-right-radius: -100%;
}

.red {
  background-color: var(--red-off-color);
  border-bottom-left-radius: 100%;
}

.yellow {
  background-color: var(--yellow-off-color);
  border-top-right-radius: 100%;
}

.blue {
  background-color: var(--blue-off-color);
  border-bottom-right-radius: 100%;
}

.green-color {
  background-color: var(--green-color);
}

.red-color {
  background-color: var(--red-color);
}

.yellow-color {
  background-color: var(--yellow-color);
}

.blue-color {
  background-color: var(--blue-color);
}

.section_def {
  width: 100%;
  height: 10rem;
}
